conda.enabled = true
trace.enabled = true
docker.enabled = false

process {
    module = 'singularity'
    executor = 'slurm'
    cache = 'lenient'
    errorStrategy = 'finish'
}

singularity {
    enabled = true
    autoMounts = true
    libraryDir = '/vast/projects/bahlo_cache/singularity_lib'
    runOptions = '-B /vast -B /stornext'
}

executor {
    name = 'slurm'
    queueSize = 250
    pollInterval = '10 s'
    queueStatInterval = '10 s'
    submitRateLimit = 10
    exitReadTimeout = '1 min'
}
